$active-back-color:#5477ff;

.c-menu {
  &-wrap{
    background: #fff;
    //border-right: 1px solid #e1e1e1;
    .c-zoom-btn{
      line-height: 1.575;
      text-align: center;
      cursor: pointer;
      user-select: none;
      font-weight: 600;
      font-size: 24px;
      color: rgba(0,0,0,0.36);
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }
  }

  &.zoom{
    width: 60px;
    .c-menu-item-text{
      display: none;
    }
  }
  width: 240px;
  position: relative;
  user-select: none;
  background: #fff;
  transition: width 180ms;

  .c-menu-item {
    cursor: pointer;
    overflow: hidden;
    > .c-menu-item-header {
      &:hover {
        background: #e6f7ff;
      }
      &.expanded{
        >.icon-arrowDown{
          transform: rotate(-180deg);
        }
      }
      &.active{
        background-color: $active-back-color;
        color: white;
      }

      display: flex;
      justify-content: space-between;
      padding: 8px;
      .c-menu-item-header-content{
        white-space: nowrap;
        .c-menu-item-title{
          margin-right:12px;
        }
      }
      >.icon-arrowDown{
        transform: rotate(0deg);
        transition: transform 240ms;
      };
    }

    > .c-menu-sub {
      transition: height 240ms;
    }
  }
}
