.c-table{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;

  &-header{
    background: #fafafa;
    position:relative;
    &-main{
      display: flex;
      overflow: hidden;
      position:relative;
    }
  }

  &-content{
    overflow: hidden;
    display: flex;
    position:relative;
    &-main{
      overflow: auto;
    }
  }

  &-row{
    display: flex;
  }

  &-cell-group{
    &.fixedLeft{
      position:sticky;
      left:0;
    }
    display: flex;
  }

  &-cell{
    &.left{
      justify-content: left;
    }
    &.center{
      justify-content: center;
    }
    padding: 0 8px;
    flex:none;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    background: #fff;
    border-right:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    >.c-checkbox{
      margin-right:0;
    }
  }

  &-nodata{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
  }
}
