.b-container{
  flex:1;
  position:relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //border-radius: 4px;
  &.center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.error{
    background: rgba(220,20,60,0.07);
    >.b-error-tip{
      background: transparent;
    }
  }
}

.b-error-tip{
  background: rgba(220,20,60,0.07);
  &-item{
    display: flex;
    color:red;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.575;
    >.title{
      text-align: end;
      width:100px;
    }
  };
}
