.app{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  //>.c-menu{
  //  width: 230px;
  //}
  .app-content{
    background-color: #f0f3f7;
    position:relative;
    flex:1;
    overflow: hidden;
  }
}
