.login{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-card {
    &:hover{
      box-shadow: black 0 0 50px;
      transition: ease all 300ms;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width:720px;
    height:420px;
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: 0 0 8px black;
    border-radius: 4px;
    //animation: 0.5s linear 0s 1 normal none running loginCardAnimation;
    @keyframes loginCardAnimation {
      from {
        transform: perspective(0) rotateX(0);
      }
      to {
        transform: perspective(2500px) rotateX(360deg);
      }
    }

    &-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .c-input-wrap{
        margin-bottom:16px;
        width:210px;
      }
      width:360px;
      height:210px;
    }
  }

  &-error{
    margin-top:8px;
    height:16px;
    color:red;
    white-space: nowrap;
    &-inner{
      background:rgba(255,255,255,0.96);
      padding: 4px 12px;
      border-radius: 4px;
    }
  }
}
